{% extends "base.html" %}

{% block title %}
  Visually Disabled Section
{% endblock title %}


{% block content %}

    <audio autoplay><source src="/media/playaudio.mp3"></audio>

    <script type="text/javascript">

        window.addEventListener('keydown', function (e) {
          if (e.key == 'a') {
            var audio = new Audio('/media/demo1.mp3')
            audio.play();
        }
        if (e.key == 'b') {
            var audio = new Audio('/media/demo2.mp3')
            audio.play();
        }
        if (e.key == 'c') {
            var audio = new Audio('/media/demo1.mp3')
            audio.play();
        }
        if (e.key == 'd') {
            var audio = new Audio('/media/demo1.mp3')
            audio.play();
        }
        if (e.key == 'e') {
            var audio = new Audio('/media/demo1.mp3')
            audio.play();
        }
        if (e.key == 'f') {
            var audio = new Audio('/media/demo1.mp3')
            audio.play();
          }
          if (e.key == 'g') {
            window.location.replace("{% url 'liveTutors' %}")
          }
    
          
        }, false);
      </script>
  
    <div class="container-fluid bg-dark text-white pb-5" style="min-height: 100vh;">
        <h1 class="text-center py-5" style="text-decoration-line: underline;">Visually Disabled Section</h1>


        <div class="container bg-white rounded " style="min-height: 90vh;">
            <h1 class="text-success py-5 ml-5">Audio Tutoring</h1>
            <hr>
            <div class="container-fluid text-warning">
                <li><h2>Audio 1</h2></li>
                <li><h2>Audio 1</h2></li>
                <li><h2>Audio 1</h2></li>
                <li><h2>Audio 1</h2></li>
                <li><h2>Audio 1</h2></li>
                <li><h2>Audio 1</h2></li>
                <li><h2>Audio 1</h2></li>
                <li><h2>Audio 1</h2></li>
                <li><h2>Audio 1</h2></li>
            </div>
        </div>

    </div>





{% endblock content %}